.preview {
	max-width: auto;
	aspect-ratio: 1 / 1;
}

/* #img {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#img:focus {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.img {
	cursor: pointer;
	border-radius: 2px;
	padding: 2px;
	border: thin solid black;
} */

#pfp {
	width: 9vw;
}